<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<th:block layout:fragment="css">
    <style>
        .carousel-inner > .item {
            height: 350px;
        }

        a:hover{
            text-decoration:none;
        }
    </style>
</th:block>

<div layout:fragment="content">

    <div>
  <p>배송지</p><a href="/members/address">배송지 변경</a>
    <span th:text="${member.name}"></span>
<!--    <span th:text="${member.phone}"></span>-->
    <span th:if="${member.address} == null">
        입력된 배송지가 없습니다.
    </span>
    <span th:if="${member.address != null}">
    <span th:text="${member.address}"></span>
    <select name="deliveryMessage">
        <option value="부재 시 집 앞에 놔주세요">부재 시 집 앞에 놔주세요</option>
        <option value="배송 시 요청사항을 선택해주세요">배송 시 요청사항을 선택해주세요</option>
        <option value="부재 시 경비실에 맡겨주세요">부재 시 경비실에 맡겨주세요</option>
        <option value="부재 시 택배함에 넣어주세요">부재 시 택배함에 넣어주세요</option>
        <option value="배송 전 연락바랍니다">배송 전 연락바랍니다</option>
        <option value="직접 입력">테스트</option>
    </select>
    </span>
    </div>
    <div>
    <p>상품 정보</p>
    <span th:each="item : ${items}">
        <span th:text="${item.itemNm}"/><br>
        <span th:text="'수량'+ ${item.count} +'개'"/><br>
        <img th:src="${item.imgUrl}" th:alt="${item.itemNm}">
<span th:text="${item.price}"></span>
    </span>
    </div>
</div>
</html>