<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .fieldError {
            color: #bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content" style="margin-top:100px; margin-left: 420px;">
    <br></br>
    <h1 class="title">나의 정보</h1>
    <div class="sign-form">
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="text" th:value="${member != null ? member.email : ''}" class="form-control" style="width:350px;" disabled>
        </div>
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" th:value="${member != null ? member.name : ''}" class="form-control" style="width:350px;">
        </div>
        <br>
        <div class="form-group">
            <label for="zipcode">우편번호</label>
            <input type="text" th:value="${member != null ? member.address : ''}" class="form-control" style="width:200px;">
        </div>
        <br>
        <div class="form-group">
            <input type="text" th:value="${member != null ? member.streetAddress : ''}" class="form-control" style="margin-top: -30px; width: 800px;">
        </div>
        <div class="form-group">
            <label for="detailAdr">상세 주소</label>
            <input type="text" th:value="${member != null ? member.detailAddress : ''}" class="form-control" style="width:800px;">
        </div>
        <br><br>
        <div>
            <!-- CSRF 토큰 추가 -->
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        </div>

        <button type="button" class="btn btn-primary" onClick="location.href='/'">홈</button>
        <button type="button" class="btn btn-primary" onClick="location.href='/members/checkPwdForm'">정보 수정</button>
        <button type="button" class="btn btn-primary" onClick="location.href='/members/pwd'">비밀번호 수정</button>
    </div>
</div>
</html>
